bcrypt==3.2.0
cffi==1.14.6
click==8.0.1
colorama==0.4.4
et-xmlfile==1.1.0
Flask==2.0.1
flask-accept==0.0.6
Flask-JWT-Extended==4.3.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.1
openpyxl==3.0.7
pandas==1.2.4
psycopg2==2.9.1
pycparser==2.20
PyJWT==2.2.0
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.25
sqlalchemy-greenplum==0.0.1
Werkzeug==2.0.1
xlrd==2.0.1
